.navigation {
    position: fixed;
    top: 0;
    width: 997px;
    margin: 0 auto;
    padding: 20px 110px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000000;
    font-size: 20px;
    z-index: 100;
}

.navigationItem {
    text-decoration-line: none;
    color: #fff;
}

.navigationItem:hover {
    color: #008080;
}