.navigation__Menu {
    color: #ff0000;
    font-size: 40px;
    margin: 50px;
}

.navigation__unorderedList {
    list-style: none;
}

.navigation__listItem {
     border-radius: 25px;
     font-size: 25px;
     margin: 10px;
     padding: 10px;
}
.navigation__listItem--link{
    text-decoration-line: none;
}