.sectionFight {
    border: 2px solid #000000;
    background-color: #ffffff;
}

.sectionFight {
    border: 2ps solid #000000;
}

.sectionFight__title {
    color: #ff0000;
    text-align: center;
}

.sectionFight__fightPhoto {
    max-width: 45%;
}

.sectionFight__fightJpg {
    max-width: 45%;
}

.sectionFight__text {
    font-size: 19px;
    line-height: 1.5;
    margin: 10px;
}

.sectionCharacter__logo {
    max-width: 50px;
}

@media(max-width:767px) {
    .sectionCharacter__logo {
        max-width: 25px;
    }
}
