.sectionCharacter {
    border: 2px solid #000000;
    background-color: #ffffff;
}

.sectionCharacter__title {
    color: #ff0000;
    text-align: center;
}

.sectionCharacter__gotlung {
    max-width: 30%;
}

.sectionCharacter__khorr {
    max-width: 30%;
}

.sectionCharacter__slavard {
    max-width: 30%;
}

.sectionCharacter__text {
    font-size: 19px;
    line-height: 1.5;
}