html {
    box-sizing: border-box;
}

*,
::after,
::before {
    box-sizing: inherit;
}

.body {
    max-width: 1000px;
    margin: 0 auto;
    font-family: "lato", sans-serif;
    background-color: #f5f5dc;
}